<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Ecozone"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Ecozone"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="@C:\\Users\\dnann\\OneDrive\\Documents\\GitHub\\Ecozone\\build\\moddev\\dataRunProgramArgs.txt"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Ecozone"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="@C:\\Users\\dnann\\OneDrive\\Documents\\GitHub\\Ecozone\\build\\moddev\\dataRunVmArgs.txt -Dfml.modFolders=ecozone%%C:\\Users\\dnann\\OneDrive\\Documents\\GitHub\\Ecozone\\bin\\main"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\dnann\OneDrive\Documents\GitHub\Ecozone\run"/>
</launchConfiguration>
